# Google Trends

In [22]:
from DailyTrends.collect import collect_data
gt_keywords = ['inflation','CPI','GDP','interest rate','loan','ATM','jobs','vacation','shopping','exchange rate','price','USDINR','INRUSD'
,'INR=X','cheap','buy','spend','save','foreclosure','cash','credit','layoff']

df_out = pd.DataFrame()

for keyword in gt_keywords:
    
    try:
        data = collect_data([keyword],start="2009-01-01", end="TODAY",
                            geo="IN", save=False, verbose=False) 
        df_out[keyword] = data[data.columns[0]]
        print('Succesful :',keyword)
    except:
        print('Failed:',keyword)

100%|██████████████████████████████████████████████████████████████████████████████████| 23/23 [01:23<00:00,  3.61s/it]

Succesful : inflation

100%|██████████████████████████████████████████████████████████████████████████████████| 23/23 [01:32<00:00,  4.02s/it]

Succesful : CPI

100%|██████████████████████████████████████████████████████████████████████████████████| 23/23 [01:16<00:00,  3.32s/it]

Succesful : GDP

100%|██████████████████████████████████████████████████████████████████████████████████| 23/23 [01:34<00:00,  4.13s/it]

Succesful : interest rate

100%|██████████████████████████████████████████████████████████████████████████████████| 23/23 [01:26<00:00,  3.75s/it]

Succesful : loan

100%|██████████████████████████████████████████████████████████████████████████████████| 23/23 [01:20<00:00,  3.49s/it]

Succesful : ATM

100%|██████████████████████████████████████████████████████████████████████████████████| 23/23 [01:33<00:00,  4.05s/it]

Succesful : jobs

100%|██████████████████████████████████████████████████████████████████████████████████| 23/23 [01:20<00:00,  3.51s/it]

Succesful : vacation

100%|██████████████████████████████████████████████████████████████████████████████████| 23/23 [01:21<00:00,  3.55s/it]

Succesful : shopping

100%|██████████████████████████████████████████████████████████████████████████████████| 23/23 [01:35<00:00,  4.14s/it]

Succesful : exchange rate

100%|██████████████████████████████████████████████████████████████████████████████████| 23/23 [01:31<00:00,  3.97s/it]

Succesful : price

100%|██████████████████████████████████████████████████████████████████████████████████| 23/23 [01:39<00:00,  4.34s/it]

Succesful : USDINR

 39%|████████████████████████████████▍                                                  | 9/23 [00:35<00:55,  3.96s/it]

Succesful : INRUSD

  0%|                                                                                           | 0/23 [00:01<?, ?it/s]

Succesful : INR=X

100%|██████████████████████████████████████████████████████████████████████████████████| 23/23 [01:26<00:00,  3.76s/it]

Succesful : cheap

 57%|██████████████████████████████████████████████▎                                   | 13/23 [00:42<00:32,  3.29s/it]

Succesful : buy

  0%|                                                                                           | 0/23 [00:01<?, ?it/s]

Succesful : spend

  9%|███████▏                                                                           | 2/23 [00:06<01:08,  3.25s/it]

Succesful : save

100%|██████████████████████████████████████████████████████████████████████████████████| 23/23 [01:17<00:00,  3.38s/it]

Succesful : foreclosure

100%|██████████████████████████████████████████████████████████████████████████████████| 23/23 [01:29<00:00,  3.91s/it]

Succesful : cash

  4%|███▌                                                                               | 1/23 [00:04<01:39,  4.51s/it]

Succesful : credit

  0%|                                                                                           | 0/23 [00:01<?, ?it/s]

Succesful : layoff

In [24]:
failed = ['INRUSD','INR=X','buy','spend','save','credit','layoff']

for keyword in failed:
    
    try:
        data = collect_data([keyword],start="2009-01-01", end="TODAY",
                            geo="IN", save=False, verbose=False) 
        df_out[keyword] = data[data.columns[0]]
        print('Succesful :',keyword)
    except:
        print('Failed:',keyword)

100%|██████████████████████████████████████████████████████████████████████████████████| 23/23 [01:39<00:00,  4.30s/it]

Succesful : INRUSD

  9%|███████▏                                                                           | 2/23 [00:12<02:07,  6.07s/it]

Failed: INR=X

100%|██████████████████████████████████████████████████████████████████████████████████| 23/23 [01:22<00:00,  3.59s/it]

Succesful : buy

 39%|████████████████████████████████▍                                                  | 9/23 [00:35<00:55,  3.97s/it]

Failed: spend

100%|██████████████████████████████████████████████████████████████████████████████████| 23/23 [01:38<00:00,  4.29s/it]

Succesful : save

100%|██████████████████████████████████████████████████████████████████████████████████| 23/23 [01:22<00:00,  3.58s/it]

Succesful : credit

100%|██████████████████████████████████████████████████████████████████████████████████| 23/23 [01:38<00:00,  4.30s/it]

Succesful : layoff

In [25]:
extra = ['USD','INR','USD to INR']

for keyword in extra:
    
    try:
        data = collect_data([keyword],start="2009-01-01", end="TODAY",
                            geo="IN", save=False, verbose=False) 
        df_out[keyword] = data[data.columns[0]]
        print('Succesful :',keyword)
    except:
        print('Failed:',keyword)

100%|██████████████████████████████████████████████████████████████████████████████████| 23/23 [01:24<00:00,  3.67s/it]

Succesful : USD

100%|██████████████████████████████████████████████████████████████████████████████████| 23/23 [01:18<00:00,  3.42s/it]

Succesful : INR

100%|██████████████████████████████████████████████████████████████████████████████████| 23/23 [01:34<00:00,  4.10s/it]

Succesful : USD to INR

In [28]:
df_out

,inflation,CPI,GDP,interest rate,loan,ATM,jobs,vacation,shopping,exchange rate,...,foreclosure,cash,INRUSD,buy,save,credit,layoff,USD,INR,USD to INR
Day,,,,,,,,,,,,,,,,,,,,,
2009-03-29,0.000000,0.000000,0.000000,13.641485,46.000000,5.833025,25.580539,0.000000,24.397135,69.000000,...,0.000000,29.909136,0.000000,NaN,65.906251,39.609775,0.000000,11.893295,9.161711,0.000000
2009-03-30,26.000000,0.000000,4.974182,22.735809,52.000000,17.207423,27.085277,0.000000,22.364041,59.000000,...,0.000000,31.105501,0.000000,NaN,44.157188,57.528483,0.000000,21.407930,18.323421,13.443863
2009-03-31,16.000000,0.000000,8.417846,21.436620,54.000000,17.499074,27.837646,50.000000,21.957422,42.000000,...,0.000000,34.694598,0.000000,NaN,36.907500,56.585393,16.000000,13.974621,18.323421,5.099396
2009-04-01,61.000000,0.000000,14.539916,14.291080,50.000000,29.165124,30.470937,52.000000,19.924327,34.000000,...,0.000000,23.927309,0.000000,NaN,33.612188,56.585393,14.000000,20.515933,20.461154,6.490141
2009-04-02,38.000000,0.000000,8.035217,21.436620,37.000000,23.040448,27.837646,0.000000,23.177278,64.000000,...,25.000000,21.534578,18.452381,NaN,28.339688,67.902472,26.000000,16.353280,17.407250,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-11-07,8.909659,9.733781,6.796875,43.361345,65.176584,18.756358,6.670282,13.895395,17.241955,12.009718,...,10.200118,24.698428,0.000000,45.419678,68.824145,61.884677,6.795543,43.572622,61.300138,41.157688
2022-11-08,11.404364,9.328207,7.500000,40.470588,57.195778,18.756358,6.670282,15.198088,17.524610,10.341701,...,3.955148,23.624584,0.000000,50.466309,74.187065,57.516347,6.177767,38.126044,57.420382,37.264393
2022-11-09,11.404364,9.733781,6.796875,38.543417,51.875240,19.197684,6.585848,12.592702,15.828680,12.343321,...,5.724556,20.134588,0.000000,43.527192,65.248865,54.604127,12.355533,44.177797,57.420382,40.045318
2022-11-10,18.175704,28.795768,6.562500,36.134454,47.884837,17.432380,5.488207,10.855777,14.698060,10.008098,...,3.851065,18.523821,0.544681,41.634705,62.567404,52.419962,10.378648,40.546746,55.092529,37.820578
2022-11-11,15.681000,15.006245,7.031250,42.879552,56.530711,19.418347,6.754716,12.592702,17.241955,12.676924,...,5.412308,24.161506,0.000000,49.204652,68.824145,62.612732,9.266650,50.229550,66.731796,51.169018

In [29]:
df_out.to_csv(r'C:\Users\User\Desktop\MTP\Tweets and GT\GT\gtrends.csv')